<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Milena's playground site</title>
    <link rel="stylesheet" type="text/css" href="styles.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.2.6/vue.min.js"></script>
</head>
<body>
    <div class="INGcalc">
        <div class="title">Pożyczka gotówkowa</div><br>

        <div class="rangesWrapper">
            <div class="labels">
                <span class="leftLabel">Pożyczam</span>
                <span class="rightLabel">{{amount}} zł</span>
            </div>
            <input type="range" min="1000" max="60000" name="amount" v-model="amount">

            <div class="labels">
                <span class="leftLabel">Na okres</span>
                <span class="rightLabel">{{period}} {{periodLabel}}</span>
            </div>
            <input type="range" min="3" max="96" name="period" v-model="period">
        </div>
        <div class="outputWrapper">
            <div id="installment">Twoja rata<sup>2</sup></div>
            <div id="installmentAmount">{{Math.round(amount / period)}}zł</div>
        </div>
        <div class="buttonWrapper">
            <a class="button" href="https://www.ingbank.pl/indywidualni/kredyty-i-pozyczki/pozyczka-gotowkowa">Więcej</a>
        </div>
    </div>
    <script src="main.js"></script>
</body>
</html>