@font-face {
    font-family: "INGme";
    src: url("fonts/INGMeWeb-Regular.woff") format('woff');
}

body {
    font-family: INGme, Helvetica, Arial, Sans-serif;
    color: #333;
}

.INGcalc {
    padding: 24px 24px 24px 24px !important;
    border: 1px solid #d6d6d6;
    border-radius: 6px;
    border-bottom: 3px solid rgba(135, 135, 139, 0.4);

    width: 300px;
}

.title {
    font-size: 24px;
}

.title:hover {
    color: #ff6200;
}

.rangesWrapper {
    border-bottom: 1px solid #D6D6D6;
    padding-bottom: 20px;
}

.labels {
    padding-bottom: 12px;
}

.leftLabel {
    float: left;
}
.rightLabel {
    float: right;
}

input[type=range] {
    -webkit-appearance: none;
    width: 100%; /* Specific width is required for Firefox. */
    background: transparent; /* Otherwise white in Chrome */
    padding: 20px 0;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 8.4px;

    cursor: pointer;
    background: #a8a8a8;
}

input[type=range]::-webkit-slider-thumb {
    border: 1px solid #a8a8a8;
    height: 42px;
    width: 42px;
    border-radius: 50%;
    background: #fff;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -14px;
}

input[type=range]::-webkit-slider-thumb:hover {
    border: 1px solid #ff6200;
    cursor: ew-resize;
}

input[type=range]::-moz-range-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    background: #a8a8a8;
}
input[type=range]::-moz-range-thumb {
    border: 1px solid #a8a8a8;
    height: 42px;
    width: 42px;
    border-radius: 50%;
    background: #fff;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -14px;
}

input[type=range]::-moz-range-thumb:hover {
    border: 1px solid #ff6200;
    cursor: ew-resize;
}

input[type=range]::-ms-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    background: #a8a8a8;
}
input[type=range]::-ms-fill-lower {
    background: #ff6200;
}

input[type=range]::-ms-thumb {
    border: 1px solid #a8a8a8;
    height: 42px;
    width: 42px;
    border-radius: 50%;
    background: #fff;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -14px;
}

input[type=range]::-ms-thumb:hover {
    border: 1px solid #ff6200;
    cursor: ew-resize;
}


.outputWrapper {
    margin-top: 30px;
    text-align: center;
}

#installment {
    display: inline-block;
    margin-right: 10px;
}

#installmentAmount {
    color: #ff6200;
    display: inline-block;
    font-weight: 700;
    line-height: 40px;
    font-size: 32px;
}

sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
    top: -0.5em;
}

.buttonWrapper {
    margin-top: 1em;
    text-align: center;
}

.button {
    background-color: #ff6200;
    color: #fff;
    transition: background 0.4s ease;
    padding: 15px 1em;
    font-size: 16px;
    line-height: 1;
    border: 1px solid #ff6200;
    display: inline-block;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    text-decoration: none;
}

.button:hover {
    background-color: #fff;
    color: #333;
}